@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  /* primary */
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --very-pale-blue: hsl(228, 100%, 99%);
  --light-grayish-blue-for-bar: hsl(224, 65%, 95%);
  --light-grayish-blue-for-bg: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);

  --spacer: 1em;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--very-pale-blue);
  font-family: 'Manrope', sans-serif;
  padding: 1.5em
}

.bg-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: bottom left;
  z-index: -10;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1em;

  &:before {
    content: '';
    width: 146px;
    height: 145px;
    position: absolute;
    z-index: -10;
    background: url(/pattern-circles.svg) no-repeat center;
  }

  & h2 {
    color: var(--dark-desaturated-blue);
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
  }

  & p {
    color: var(--grayish-blue);
    font-size: 0.8125rem;
    padding: 0.25em 0;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.pricing-card {
  display: grid;
  gap: 2.5em;
  place-items: center;
  border-radius: 10px;
  background-color: var(--white);
  padding: 2em 0;
  width: 100%;
  max-width: 50em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--grayish-blue);
  font-size: 0.75rem;
}

.pricing-card__views {
  font-weight: 800;
  letter-spacing: 0.2em;
}

/* how to customize input range element
   https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/#comments-create-custom-range-input-consistent-browsers */
input[type='range'] {
  --bar-color: var(--soft-cyan);
  --bar-size: 0.6em;
  --thumb-color: var(--strong-cyan);
  --thumb-size: 3em;
  --thumb-color-hover: hsl(174, 86%, 36%);
  --progress: 50;

  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 80%;

  &::-webkit-slider-runnable-track {
    background-color: var(--light-grayish-blue-for-bar);
    background-image: linear-gradient(to right, var(--bar-color) calc(var(--progress) * 1%), transparent 0);
    height: var(--bar-size);
    border-radius: 100vmax;
  }

  &::-moz-range-track {
    background-color: var(--light-grayish-blue-for-bar);
    background-image: linear-gradient(to right, var(--bar-color) calc(var(--progress) * 1%), transparent 0);
    height: var(--bar-size);
    border-radius: 100vmax;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    background: url(/icon-slider.svg) center no-repeat, var(--thumb-color);
    margin-top: calc(var(--bar-size) / 2 - var(--thumb-size) / 2);
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    box-shadow: 0 10px 30px var(--strong-cyan);
    transition: all 250ms;
  }

  &::-moz-range-thumb {
    border: 0;
    background: url(/icon-slider.svg) center no-repeat, var(--thumb-color);
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    box-shadow: 0 10px 30px var(--strong-cyan);
    transition: all 250ms;
  }

  &:hover::-webkit-slider-thumb {
    background-color: var(--thumb-color-hover);
    box-shadow: 0 10px 30px var(--thumb-color-hover);
  }

  &:hover::-moz-range-thumb {
    background-color: var(--thumb-color-hover);
    box-shadow: 0 10px 30px var(--thumb-color-hover);
  }
}


.pricing-card__price-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.pricing-card__price {
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark-desaturated-blue);
}

.pricing-card__time {
  font-size: 0.875rem;
}
.pricing-card__billing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;

  & p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1ch; 
    text-align: center;
  }
}

.toggle__label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1ch;

}

.toggle__input {
  position: absolute;
  opacity: 0;
  inset: 0;
  width: 100%;
  height: 100%;
}

/* how to make a accessible toggle checkbox 
   https://kittygiraudel.com/2021/04/05/an-accessible-toggle/#toggles-note */
.toggle__display {
  --offset: 0.25em;
  --diameter: 1em;

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: calc(var(--diameter) * 2 + var(--offset) * 4);
  height: calc(var(--diameter) + var(--offset) * 2);
  border: 0;
  border-radius: 100vmax;
  background-color: var(--light-grayish-blue-for-bg);
  position: relative;
  transition: 250ms;
  cursor: pointer;

  &:before {
    content: '';
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    position: absolute;
    background-color: white;
    transform: translateX(-70%);
    transition: inherit;
  }

  @media (prefers-reduced-motion: reduce) {
    transition-duration: 0ms;
  }
}

.toggle__input {
  &:focus + .toggle__display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
  }

  &:focus:not(:focus-visible) + .toggle__display {
    outline: 0;
  }

  &:checked + .toggle__display {
  background: var(--strong-cyan);
  }

  &:checked + .toggle__display::before {
  transform: translateX(70%);
  }
}

.badge {
  font-size: 0.625rem; 
  font-weight: 800;
  color: var(--light-red);
  background-color: var(--light-grayish-red);
  padding: 0.2em 0.7em;
  border-radius: 100vmax;
}

.pricing-card__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  border-top: 1px solid var(--light-grayish-blue-for-bar);
  padding-top: 2.5em; 
}

.pricing-card__feature {
  display: flex;
  align-items: center;
  gap: 1em;

  &:before {
    content: '';
    background: url(/icon-check.svg) no-repeat center;
    width: 1em;
    height: 1em;
  }
}

.pricing-card__btn {
  background-color: var(--dark-desaturated-blue);
  color: var(--pale-blue);
  border: 0;
  border-radius: 100vmax; /* border-radius hack for pill-shaped button https://www.youtube.com/watch?v=MywezIxlp8Y */
  padding: 1em 4.5em;
}

.uppercase {
  text-transform: uppercase;
}

.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}